/* ------------------- */
/* Custom properties   */
/* ------------------- */
:root {
  /* Colors */
  --clr-soft-orange: 35, 77%, 62%;
  --clr-soft-red: 5, 85%, 63%;
  --clr-off-white: 36, 100%, 99%;
  --clr-gray-blue: 233, 8%, 79%;
  --clr-dark-gray-blue: 236, 13%, 42%;
  --clr-dark-blue: 240, 100%, 5%;
  /* Font */
  --ff-inter: "Inter", sans-serif;
  /* Font size */
  --fs-800: 3rem;
  --fs-700: 2.5rem;
  --fs-600: 1.5rem;
  --fs-500: 1.25rem;
  --fs-400: 1rem;
}
/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
img,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}
/* Set up body */
body {
  font-family: var(--ff-inter);
  font-size: var(--fs-400);
  background-color: hsl(var(--clr-off-white));
  color: hsl(var(--clr-dark-gray-blue));
}
/* Make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}
.flex-col {
  flex-direction: column;
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.d-block {
  display: block;
}
.list-none {
  list-style: none;
  padding: 0;
}

.flow > * {
  margin-top: var(--flow-space, 1rem);
}
.flow--space-small {
  --flow-space: 0.5rem;
}
.m-x-1 {
  margin-inline: 1rem;
}
.m-y-1 {
  margin: 1rem 0;
}
.pointer{
  cursor: pointer;
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 90em;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}
.grid-container {
  text-align: left;
  display: grid;
  place-items: center;
  padding-inline: 1rem;
  padding-bottom: 4rem;
  max-width: 90em;
}
.grid-container img {
  max-width: 90vw;
}
.grid-container p:not([class]) {
  max-width: 50ch;
}
@media (min-width: 45em) {
  :root {
    --fs-800: 3.5rem;
  }
  .grid-container {
    max-width: 90em;
    margin-inline: auto;
    align-items: start;
    text-align: left;
    column-gap: var(--container-gap, 1.5rem);
    grid-template-columns: min(33vw, 30em) min(33vw, 30em) min(33vw, 30em);
    /* grid-template-columns: 70vh 30vh; */
    grid-template-areas:
      "content content sidebar"
      "news news news";
  }
  .grid-container > .content {
    grid-area: content;
    margin: 0;
  }
  .content > img {
    content: url("./assets/images/image-web-3-desktop.jpg");
    width: 100%;
  }
  .content > .main-text {
    flex-direction: row;
  }
  .main-text > * {
    width: 50%;
  }
  .main-text > h1 {
    font-size: var(--fs-800);
  }
  .main-text > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .main-text .call-to-action {
    width: 13.37rem;
  }
  .grid-container > .sidebar {
    grid-area: sidebar;
    height: 100%;
  }
  .grid-container > .news-list {
    margin-top: 4rem;
    grid-area: news;
    flex-direction: row;
  }
}
.underline {
  padding-bottom: 2rem;
  border-bottom: 1px solid hsl(var(--clr-gray-blue));
}

/* Typthography */
.ff-inter {
  font-family: var(--ff-inter);
}

.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fw-800 {
  font-weight: 800;
}
.fw-700 {
  font-weight: 700;
}
.fw-400 {
  font-weight: 400;
}
/* Colors */
.bg-dark {
  background-color: hsl(var(--clr-dark-blue));
}
.bg-red {
  background-color: hsl(var(--clr-soft-red));
}
.text-orange {
  color: hsl(var(--clr-soft-orange));
}
.text-gray {
  color: hsl(var(--clr-gray-blue));
}
.text-gray-dark {
  color: hsl(var(--clr-dark-gray-blue));
}
.text-dark {
  color: hsl(var(--clr-dark-blue));
}
.text-white {
  color: hsl(var(--clr-off-white));
}
/* Components */
.overlay {
  position: absolute;
  top: 0;
  bottom: 100%;
  left: 0;
  right: 0;
  z-index: 500;
  background: black;
  opacity: 0.7;
  transition: all 500ms ease-in-out;
}
.overlay.active {
  bottom: 0;
}
.call-to-action {
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  border: none;
}
.call-to-action:hover,
.call-to-action:focus{
  background-color: hsl(var(--clr-dark-blue));
}
.sidebar {
  padding: 1rem 2rem;
}
.sidebar > .sidebar-headline {
  margin-bottom: 2rem;
}
.sidebar  h3:hover {
  color: hsl(var(--clr-soft-orange));
}

/* ------------------- */
/* Home         */
/* ------------------- */

.logo {
  margin: 1.5rem 0;
}

.primary-header {
  justify-content: space-between;
  align-items: center;
}
.primary-navigation {
  --gap: clamp(1.5rem, 5vw, 3.5rem);
  --underline-gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
  background: hsl(var(--clr-off-white));
}

.primary-navigation a {
  text-decoration: none;
}
.primary-navigation a:hover,
.primary-navigation a:focus{
  color: hsl(var(--clr-soft-red));
}
.mobile-nav-toggle {
  display: none;
}
@media (max-width: 35rem) {
  .primary-navigation {
    --underline-gap: 0.5rem;
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;
    list-style: none;
    padding: min(20rem, 15vh) 2rem;
    margin: 0;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 500ms ease-in-out;
  }
  .primary-navigation a {
    color: hsl(var(--clr-dark-blue));
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0);
  }

  .primary-navigation.underline-indicators > .active {
    border: 0;
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 2000;
    right: 1rem;
    top: 2rem;
    background: transparent;
    background-image: url(./assets/images/icon-menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 1.5rem;
    aspect-ratio: 1;
    border: 0;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url(./assets/images/icon-menu-close.svg);
  }

  .mobile-nav-toggle:focus-visible {
    outline: 5px solid white;
    outline-offset: 5px;
  }
}
.news-post > div {
  justify-content: space-between;
}
.news-post h4:hover,
.news-post h4:focus{
  color: hsl(var(--clr-soft-red));
}

.post-image {
  width: 6.25rem;
  height: 7.81rem;
}
